{% extends 'main/attempt_list.html' %}
{% block content %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <article class="blog-post">
            <h3>Список зарегистрированных пользователей</h3>
            <p>В данной таблице представлены зарегистрированные пользователи</p>
            <table class="table">
                <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for user in object_list %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    {% if user.is_active %}
                    <td> Active
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                        </svg>
                    </td>
                    {% else %}
                    <td> Not
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        </svg>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </article>
    </div>
</div>
<a class="btn btn-outline-secondary rounded-pill" href="{% url 'main:index' %}">На главную страницу</a>
{% endblock %}