{% extends 'main/base.html' %}
{% block content %}
<div class="row mb-2" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                {% if object %}
                {% if object.is_banned %}
                <div class="alert alert-danger" role="alert">
                    <strong>Внимание!</strong> Пользователь заблокирован
                </div>
                {% elif not client.is_banned %}
                <div class="alert alert-success" role="alert">
                    Текущий пользователь
                </div>
                {% endif %}
                <h3 class="mb-4">{{ object.email }}</h3>
                {% if object.last_name %}
                <div class="mb-4 text-body-secondary">{{ object.first_name }} {{ object.last_name }}</div>
                {% elif not object.last_name %}
                <div class="mb-4 text-body-secondary">{{ object.first_name }}</div>
                {% endif %}
                <p class="card-text mb-auto">{{ object.comment }}</p>
                <div class="col">
                    <a class="btn btn-outline-info rounded-pill" href="{% url 'main:client_list' %}">
                        Назад
                    </a>
                    {% if perms.main.see_list_of_clients and perms.main.ban_clients or user == client.owner %}
                    <a class="btn btn-outline-info rounded-pill" href="{% url 'main:client_update' object.pk %}">
                        Редактировать
                    </a>
                    <a class="btn btn-outline-warning rounded-pill" href="{% url 'main:client_delete' object.pk %}">
                        Удалить
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
