{% extends 'main/base.html' %}
{% block content %}

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Удаление сообщения для рассылки</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить сообщения {{ object.subject }} ?</p>
                    <div class="mb-1 text-body-secondary">({{ object.letter|truncatechars:50 }})</div>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'main:message_list' %}" class="btn btn-warning">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-secondary" href="{% url 'main:message_list' %}"
       role="button">Назад</a>
</div>
{% endblock %}