{% extends 'main/base.html' %}
{% block content %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                {% if object %}
                <p class="mb-2">Время начала рассылки: {{ setting.start_time }}</p>
                <p class="mb-2">Время окончания рассылки: {{ setting.end_time }}</p>
                <p class="mb-2">Период рассылки: {{ setting.period }}</p>
                <p class="mb-2">Статус рассылки: {{ setting.status }}</p>
                <p class="mb-2">Сообщение: {{ setting.message }} </p>
                <p class="mb-2">Список клиентов: {{ setting.clients.mailing_settings }}</p>
                <div class="col mb-2">
                <a class="btn btn-outline-info rounded-pill" href="{% url 'main:setting_list' %}">
                    Назад
                </a>
                <a class="btn btn-outline-info rounded-pill" href="{% url 'main:setting_update' object.pk %}">
                    Редактировать
                </a>
                <a class="btn btn-outline-warning rounded-pill" href="{% url 'main:setting_delete' object.pk %}">
                    Удалить
                </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}