{% extends 'main/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'main:setting_create' %}">Добавить рассылку</a>
</div>
<div class="row mb-2">
    {% for setting in object_list %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="mb-2">Время начала рассылки: {{ setting.start_time }}</p>
                <p class="mb-2">Время окончания рассылки: {{ setting.end_time }}</p>
                <p class="mb-2">Период рассылки: {{ setting.period }}</p>
                <p class="mb-2">Статус рассылки: {{ setting.status }}</p>
                <p class="mb-2">Сообщение: {{ setting.message }} </p>
                {% for client in setting.clients.all %}
                <p class="mb-2">Список клиентов: {{ client }}</p>
                {% endfor %}
                <a href="{% url 'main:setting_detail' setting.pk %}"
                   class="icon-link gap-1 icon-link-hover stretched-link">
                    Подробнее
                    <svg class="bi">
                        <use xlink:href="#chevron-right"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a class="btn btn-outline-secondary rounded-pill" href="{% url 'main:index' %}">На главную страницу</a>

{% endblock %}